<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Room</title>
</head>
<body>
    <form action="{% url 'create_room' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="room_name" placeholder="Room Name">
        <input type="password" name="room_password" placeholder="Room Password">
        <input type="submit" value="Create Room">
    </form>
</body>
</html>