{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    
    <div class="mainbox">
        <h1 class='heading'>{{room.name}}</h1>
    <h3>Key: {{room.key}} </h3>

    <h2>Members</h2>
    <ul>
        {% for user in users %}
            <li><p class='divlist'>Name : {{user.name}}<br>Email : {{user.email}}</p></li>
        {% endfor %}
    </ul>
    <div class='subjects'>
    <h2>People you owe money to</h2>
    <div class="texTcontent">
    <ul>
        {% for r in out_rec %}
            <li>
                <p class='divlist'>
                To : {{r.to_user}}<br>
                Amount : {{r.amount}}<br>
                Last Updated : {{r.last_updated}}<br>
                </p>
            </li>
        {% endfor %}

    </ul>
</div>
</div>
    <div class='subjects'>
    <h2>People who owe you money</h2>
    <div class="texTcontent">
    <ul>
        {% for r in in_rec %}
            <li>
                <p class='divlist'>
                From : {{r.from_user}}<br>
                Amount : {{r.amount}}<br>
               Last Updated : {{r.last_updated}}<br>
                </p>
            </li>
        {% endfor %}
    </ul>
</div>
</div>
    <div class='subjects'>
    <h2>Incoming Money Requests</h2>
    <div class="texTcontent">
    <ul>
        {% for r in in_req %}
            <li><p class='divlist'>
                From : {{r.from_user}}<br>
                Amount : {{r.amount}}<br>
                Description : {{r.description}}
                <br>
                {% if r.is_accepted == False %}
                Status : Pending<br>
                <form action="{% url 'accept_money_request' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="request_key" value="{{r.key}}">
                    <input type="hidden" name="room_key" value="{{room.key}}">
                    <button class='buttonmain'>
                        Accept
                    </button>
                </form>
                {% else %}
                Status : Accepted<br>
                {% endif %}
            </p>
            </li>
        {% endfor %}

    </ul>
</div>
</div>
    <div class='subjects'>
    <h2>Outgoing Money Requests</h2>
    <div class="texTcontent">
    <ul>
        {% for r in out_req %}
            <li><p class='divlist'>
                To : {{r.to_user}}<br>
                Amount : {{r.amount}}<br>
                Description : {{r.description}}<br>
                Date : {{r.date}}<br>
                {% if r.is_accepted == False %}
                Status : Pending<br>
                <form action="{% url 'delete_money_request' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="request_key" value="{{r.key}}">
                    <input type="hidden" name="room_key" value="{{room.key}}">
                    <button class='buttonmain'>
                        Delete
                    </button>
                </form>
                {% else %}
                Status : Accepted<br>
                {% endif %}
            </p>
            </li>

        {% endfor %}

    </ul>
</div>

</div>
    <button class='buttonmain' onclick="location.href='/room/{{room.key}}/accepted_money_requests'">Accepted Money Requests</button>
    <br><br>
    <button class='buttonmain' onclick="location.href='/room/{{room.key}}/create_money_request'">Create Money Request</button>
    <br><br>
    <button class='buttonmain' onclick="location.href='/';">Go home</button>
    {% if room.creator == curr_user %}
        <button class='buttonmain' onclick="location.href='/room/{{room.key}}/delete';">Delete Room</button>
        
    {% endif %}
</div>
    <script src="{% static 'jquery-1.11.0.js' %}"></script>
    <script src="{% static 'room.js' %}"></script>
</body>
</html>